/* BASE */
@import '../base/base.css';

/* LAYOUT */
@import '../base/layout.css';

/* BUTTONS */
@import '../components/buttons.css';

/* VENDOR */
@import '../vendor/font-awesome.min.css';


@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-RI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


body {
    background-color: var(--main-color);
}




